html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', helvetica, arial, sans;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Dosis', helvetica, sans;
  font-weight: 100;
}
a {
  color: #0096FF;
}
h2 ~ p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}
h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}

/*HEADER STYLES*/
.navbar {
  align-items: center;
  background-color: #7d9d9c;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.nav-logo img{
  padding: 1rem;
  width: 10vh;
}

.nav-links ul {
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #E4DCCF;
  display: block;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
}
.nav-toggle {
  display: none;
  padding: 0 1rem;
}
.fa-solid {
  color: #E4DCCF;
  font-size: 1.5rem;
}

.nav-links ul > li {
  margin-left: 1rem;
}
.nav-links a:hover,
.nav-links a:active {
  color: #594545;
}
.nav-links ul > li:first-child a {
  color: #594545;
}
.nav-links ul > li:first-child a:hover {
  color: #E4DCCF;
}

/*FOOTER STYLES*/
.footer {
  background-color: #7d9d9c;
  text-align: center;
  padding: 10vh 0 15vh;
}
.footer-logo img {
  width: 80px;
}
.footer h3 {
  color: #E4DCCF;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #594545;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav li {
  list-style: none;
  margin: 3em 2em;
}
.footer-nav a {
  color: #e4dccf;
}
/*HERO*/
.hero {
  align-items: center;
  background-color: #F0EBE3;
  border-bottom: 1px dashed #594545;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 6em 4em 6.5em;
}
.hero:after {
  border: 10px solid;
  border-color: #594545 transparent transparent;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-pic {
  border-radius: 50%;
  flex: 1 1 50%;
  margin-right: 17vh;
  padding-top: 3vh;
  width: 60vh;
}
.hero-title {
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5;
  padding-bottom: 3vh;
  text-align: left;
}
.hero-box {
  color: #594545;
  flex: 1 1 50%;
  justify-content: right;
  margin-right: 3.2vh;
}
.hero-box span {
  color: #576F72;
  letter-spacing: 0.1em;
}
.hero-box p {
  font-size: 1.2em;
  line-height: 2;
}
/*PRESENTATION*/
.presentation-wrapper {
  background-color: #576F72;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: auto;
/*  max-width: 1100px;*/
  overflow: hidden;
  padding: 6em 4em 4em;
}
.presentation-box {
  box-sizing: border-box;
  color: #F0EBE3;
/*  float: left;*/
  font-size: 1rem;
  margin: 4rem 0 0;
  padding: 0 3%;
  width: 27%;
}
.section-title {
  display: block;
  color:#fff;
  font-size: 2.5rem;
  margin: -40px 0 0.7em;
  text-align: center;
  text-transform: uppercase
}
.presentation-img {
  color: #fff;
  font-size: 2.5em;
  margin: 0 auto 0.7em;
  max-width: 15%;
}
.presentation-copy ul {
  line-height: 1.5;
  list-style-type: circle;
}
.presentation-copy li {
  margin-top: 0.3em;
}


/*EDU STYLES*/
.edu {
  box-sizing: border-box;
  display: flex;
  padding: 6% 8% 4%;
  text-align: left;
  width: 100%;
}
.edu h3 {
  color: #576F72;
  margin: 0 0 1em;
  width: 100%;
  text-align: left;
}
.edu-img {
  width: 50%;
}

/*CONTACT STYLES*/
.contact {
  font-size: 2rem;
  text-align: right;
  padding: 3rem 4rem 6rem;
}


/*MEDIA QUERY*/

@media (max-width: 750px) {
  .nav-toggle {
    display: flex;
    flex: 1 50%;
    justify-content: flex-end;
  }
.nav-links {
  display: none;
width: 100%;
}
.navbar {
  align-items: flex-start;
  flex-direction: column;
}
.nav-links ul {
  flex-direction: column;
  width: 100%;
}
.nav-logo img a {
  flex: 1 50%;
}
.logo-toggle {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.nav-links li {
  text-align: center;
}
.nav-links li a {
  padding: 0.5rem 1rem;
}
.nav-links.active {
  display: flex;
}
.hero{
  flex-wrap: wrap;
}
.hero-pic {
  flex: 1 1 100%;
}
.hero-box {
  flex: 1 1 100%;
}
}