/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', helvetica, arial, sans;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 7vw;
  margin-top: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Dosis', helvetica, sans;
  font-weight: 100;
}
a {
  color: #0096FF;
  text-decoration: none;
}
h2 ~ p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}
h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
/*HEADER STYLES*/
.navbar {
  align-items: center;
  background-color: #7d9d9c;
  display: flex;
  justify-content: space-between;
  max-width: INHERIT;
  position: fixed;
  z-index: 20;
  width: 100%;
}

.nav-logo img{
  padding: 1rem;
  width: 10vh;
}

.nav-links ul {
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #E4DCCF;
  display: block;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
}
.nav-toggle {
  display: none;
  padding: 0 1rem;
}
.fa-solid {
  color: #E4DCCF;
  font-size: 1.5rem;
}

.nav-links ul > li {
  margin-left: 1rem;
}
.nav-links a:hover,
.nav-links a:active {
  color: #594545;
}
.nav-links ul > li:first-child a {
  color: #594545;
}
.nav-links ul > li:first-child a:hover {
  color: #E4DCCF;
}

/*FOOTER STYLES*/
.footer {
  background-color: #7d9d9c;
  text-align: center;
  padding: 10vh 0 15vh;
}
.footer-logo img {
  width: 80px;
}
.footer h3 {
  color: #E4DCCF;
  padding-top: 1em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #594545;
}
.footer-nav {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
.footer-nav li {
  list-style: none;
  margin: 3em 2em;
}
.footer-nav a {
  color: #e4dccf;
}
/*HERO*/
.hero {
  align-items: center;
  background-color: #F0EBE3;
  border-bottom: 1px dashed #594545;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  padding: 6em 3em;
}

.hero-pic {
  display: flex;
  flex: 3 3 40%;
  justify-content: center;
}
.hero-pic img {
  border-radius: 50%; 
  width: 50vh;
}
.hero-title {
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: 0.2vh;
  line-height: 1.5;
  padding-bottom: 4vh;
  text-align: left;
}
.hero-box {
  color: #594545;
  flex: 1 1 60%;
  padding: 0 3em;
}
.hero-box span {
  color: #576F72;
  display: block;
  letter-spacing: 0.1em;
}
.hero-box p {
  font-size: 1.2em;
  line-height: 2;
}
/*PRESENTATION*/
.presentation-wrapper {
  align-items: flex-start;
  background-color: #576F72;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 4em;
}
.presentation-box {
  box-sizing: border-box;
  color: #F0EBE3;
  font-size: 1rem;
  padding: 0 5%;
  text-align: left;
  width: 29%;
}
.section-title {
  display: block;
  color:#fff;
  font-size: 2.5rem;
  padding: 2.5rem 0 0;
  text-align: center;
  text-transform: uppercase
}
.presentation-img {
  color: #fff;
  font-size: 2.5em;
  margin: 0 auto;
  max-width: 15%;
}
.presentation-img i {
  color: #fff;
  font-size: 1em;
  margin: 1em 0;
}
.presentation-copy p{
  font-size: 1.2em;
  line-height: 1.8;
}
.presentation-copy ul {
  line-height: 1.5;
  list-style-type: circle;
}
.presentation-copy li {
  font-size: 1.2em;
  margin-top: 0.3em;
}


/*EDU STYLES*/
.altre-info {
  align-items: center;
  box-sizing: border-box;
  color: #594545;
  display: flex;
  justify-content: center;
  padding: 4em;
  text-align: left;
}
.edu-title {
  display: block;
  color: #576F72;
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: left;
  text-transform: uppercase
}
.edu-box {
  flex: 1 1 60%;
  font-size: 1.2em;
}
.planimetria {
  align-items: center;
  display: flex;
  flex: 6 6 40%;
  justify-content: center;
  margin-left: 5em;
}
.planimetria img {
  border-radius: 10%;
  width: 40vw;
}
.contatti {
  align-items: center;
  background-color: #F0EBE3;
  display: flex;
  font-size: 2rem;
  justify-content: right;
}
.contact-box {
  padding: 3em 0;
  width: 45%;
}
.contact-box p {
  color: #576F72;
  font-size: 0.8em;
  line-height: 1.3;
  margin-bottom: 0.5em;
  padding-right: 5em;
  text-align: right;
}
.contact-box a {
  color: #594545;
}



/*MEDIA QUERY*/

@media (max-width: 750px) {
  .nav-toggle {
    display: flex;
    flex: 1 50%;
    justify-content: flex-end;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .navbar {
    align-items: flex-start;
    flex-direction: column;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-logo img a {
    flex: 1 50%;
  }
  .footer-nav {
    display: block;
  }
  .logo-toggle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 1000px) {

  .hero{
    flex-wrap: wrap;
    padding: 3em;
  }
  .hero-pic {
    flex: 1 1 100%;
  }
  .hero-pic img {
    width: 40vh;
  }
  .hero-title {
    padding-top: 1em;
    text-align: center;
  }
  .hero-title span {
    display: block;
  }
  .hero-box {
    flex: 1 1 100%;
    padding: 0;
  }

}

@media (max-width: 1200px) {
  .presentation-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .presentation-box {
    flex: 1 1 100%;
    padding-bottom: 2em;
  }
  .presentation-box .section-title {
    padding-top: 1em;
    text-align: left;
  }
  .presentation-img {
    margin: 0;
  }
  .altre-info {
    flex-wrap: wrap;
  }
  .edu-box {
    flex: 1 1 100%;
  }
  .edu-box p {
    margin-bottom: 2em;
  }
  .planimetria {
    flex: 1 1 100%;
    margin-left: 0;
    padding-top: 4em;
  }
  .planimetria img {
    margin: 0 auto;
    width: 90vh;
  }
  .contatti {
    justify-content: center;
  }
  .contact-box {
    width: 100%;
  }
  .contact-box p{
    padding: 0 2em;
    text-align: center;
  }
}